/.gradle/
/build/
/out/
/classes/

run/

*.local.json

__pycache__/
*.py[cod]

*.launch
.settings/
.classpath
.project
bin/

.idea/
*.iml
*.ipr
*.iws

.vscode/

*.hprof

.DS_Store

logs/

node_modules
package-lock.json.*
.blockwright/
.blockwright-store/

tests/out/

javac.*.args
